html {
  position: relative;
  min-height: 100%;
}

/* CSS Document */
body
{
/* Move down content because we have a fixed navbar that is 50px tall 
http://getbootstrap.com/examples/jumbotron/jumbotron.css
*/
  padding-top: 50px;
  padding-bottom: 20px;

    /* Margin bottom by footer height */
  margin-bottom: 60px;

  background-color:#FFFFFF;
font-family:Arial, Helvetica, sans-serif;
color:#000000;
}

body > .container {
  padding: 60px 15px 0;
}

/* Sticky footer styles
-------------------------------------------------- */

/*Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. 
A fixed navbar has been added with
     padding-top: 60px;on the
      body > .container </p>*/



/*
.swe-container
{
width: 972px;
margin:0 auto 0 auto;
background-color:#FFFFFF;
position:relative;

.cont
{
margin:0 auto 0 115px;
border: 3px solid #DFD648;
color:#000000;
position:relative;
}
*/
/*.header
{
/*background-image:url(../images/header.jpg);
background-repeat:no-repeat;
margin:45px auto 0 auto;*/
/*height:452px;*/
/*width:972px;*/
/*padding:300px 45px 0px 310px;*/
/*}
.header-content
{
/*padding:300px 45px 0px 310px;*
}*/

.maincontent
{
background-image:url(../images/bg.jpg);
background-repeat:repeat-y;
padding-top:20px;
background-color:#FFFFFF;
line-height:20px;
color:#000000;
position:relative;
}
.content
{
background-image:url(../images/bg.jpg);
background-repeat:repeat-y;
padding:3px 15px 3px 135px;
font-family:Arial, Helvetica, sans-serif;
color:#000000;
font-size:12px;
font-weight:bold;
line-height:20px;
}


.leftbar
{
position: relative;
float:left;
/*width:108px;*/
text-decoration:none;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
/*font-size:12px;
line-height:18px;
color:#FFFFFF;*/
overflow:hidden;
height:420px;
}


.menuitem
{
/*
border-top:1px solid #DFD648;
border-bottom:1px solid #DFD648;
padding-left:5px;
position:relative;
background-color:#188142;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
line-height:18px;
color:#FFFFFF;
width:108px;
*/
background-color:#188142;

color:#FFFFFF;
font-weight:bold;
}
.menuitem:hover, .menuitem:active
{
background-color:#000000;
background-color: rgb(24, 129, 66);
}
/*
a.left:link, a.left:visited, a.left:hover, a.left:active {
	color:#FFFFFF 
}*/


.divisionbar
{
background-image:url(../images/div_bg.jpg);
background-repeat:repeat-y;
padding-left:108px;
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
font-weight:bold;
color:#FFFFFF;
text-align:center;
letter-spacing:2px;
line-height:20px;
}

h1, h2, h3, h4, h5, h6 {
	color:#000000;
	font-family:Arial, Helvetica, sans-serif;
}
h1, h2, h5, h6 {
	font-weight:bold;
}

h1, h3, h6 {
	text-align:center;
}
h1, h2
{
font-size:20px;
line-height:22px;
}
h3
{
font-size:16px;
line-height:18px;
font-weight:normal;
}
h4
{
font-size:16px;
font-weight:normal;
}
h5
{
font-size:12px;
}
h6
{
font-size:16px;
padding:0px;
margin:auto;
}

.swelist
{
list-style-image:url(../images/bullet.jpg);
list-style-position:outside;
margin-left:20px;
}
.sublist
{
list-style-image:url(../images/bullet2.jpg);
list-style-position:outside;
margin-left:40px;
}
a
{
text-decoration:none;
border:none;
}
a:link, a:visited { color:#188142 }     
a:hover, a:active { color:#4A9644 }


.navbar-logo
{
  margin:0 auto; 
  margin-bottom: 10px; 
  top: 0; 
  position: absolute; 
  float: left;
}




/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
/*
.navbar /*> .container *{
  background: #FFF url(../images/header-1.png) no-repeat center;

}*/


.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}


#footer {
  border-top: 2px solid #DFD648;
  background: rgb(52, 106, 50) url(../images/footer.jpg) no-repeat center;
  height:141px;
  
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  background-color: #f5f5f5;
  background-color: rgb(24, 129, 66);
}



.navbar-header, .navbar-default {
  background-color: #f8f8f8;
  background-color: rgb(52, 106, 50);
  border-color: #e7e7e7;
}

/*#navcontainer
{
  background: url(../images/header-1.png) no-repeat center;*
  height: 210px;
}*/
/*
.navbar-header {
    background: url(../images/header-1-sm.png) no-repeat center;
    height: 210px;
}*/


/*
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}
.navbar-collapse {
  max-height: 340px;
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}
.navbar-collapse.in {
  overflow-y: auto;
}
@*/
/*
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
 /* background: url(../images/header-1.png) no-repeat center;*
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}

.navbar-fixed-top, {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px) {
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
  border-radius: 0;
}*/






/*
jumbotron{padding:30px;margin-bottom:30px;color:inherit;/* background-color:#eee *}
.jumbotron h1,.jumbotron .h1{color:inherit}
.jumbotron p{margin-bottom:15px;font-size:21px;font-weight:200}
.container .jumbotron{border-radius:6px}
.jumbotron .container{max-width:100%
*/


/* override bootstrap jumbotron styling *
.jumbotron{
  /*background-color: transparent;*/
    /* http://www.w3schools.com/cssref/css3_pr_background.asp*/
    /*background: #FFF url(../images/header.png) no-repeat center;*/
    
    /*margin:45px auto 0 auto;*/
    /*padding:300px 45px 0px 310px;*/
    /*background-color:#ff3600;
    color:white;*
}*/


